.paynowBarcodeWrapper {
    border: 1px solid #ddd;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paynowBarcodeWrapper #barcode {
    background: url(../image/paynow_loading.gif) 50% no-repeat;
}

.textDescriptionWrapper p {
    margin: 10px;
}